appdirs 1.4.3
beautifulsoup4 4.8.0
certifi 2019.9.11
chardet 3.0.4
future 0.17.1
idna 2.8
pip 19.2.3
pkg-resources 0.0.0
py 1.8.0
requests 2.22.0
robotframework 3.1.2
robotframework-imaplibrary 0.3.0
robotframework-python3 2.9
robotframework-seleniumlibrary 4.0.0
selenium 3.141.0
setuptools 39.0.1
six 1.12.0
soupsieve 1.9.3
tqdm 4.36.1
urllib3 1.25.6
webdrivermanager 0.7.4
wheel 0.33.6